<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Meus Pedidos</title>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
	rel="stylesheet">
</head>
<body style="background-color: #f8bbd0;">

	<div class="pink lighten-1"
		style="height: 150px; display: flex; justify-content: center; align-items: center;">
		<div class="container">
			<div class="row">
				<div class="col s12 center-align">
					<span style="color: #FFFFFF; font-weight: bold; font-size: 3rem;">Meus
						Pedidos</span>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 50px;">
		<div class="row">
			<div class="col s12 m8 l6 offset-m2 offset-l3">
				<div class="card z-depth-3"
					style="padding: 30px; background-color: #ffffff;">
					<h2 class="center-align"
						style="font-size: 30px; color: #E91E63; font-family: 'Roboto', sans-serif; font-weight: 500; margin-bottom: 30px;">
						Histórico de Pedidos</h2>

					<ul class="collection">
						<!-- Exemplo de pedido -->
						<li class="collection-item"
							style="border-radius: 10px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); margin-bottom: 20px; background-color: #fff0f6;">
							<div class="row">
								<div class="col s8">
									<span>Mini Pizza Calabresa</span> - <span>R$ 7,99</span><br>
									<span>Data: 2024-11-28</span>
								</div>
							</div>
						</li>

						<!-- Adicione mais pedidos aqui dinamicamente -->
					</ul>

				</div>
			</div>
		</div>
	</div>

	<footer class="page-footer pink lighten-1"
		style="position: fixed; bottom: 0; width: 100%; padding: 10px 0;">
		<div class="container">
			<div class="row">
				<div class="col s12 center-align">
					<span
						style="color: white; font-size: 18px; font-family: 'Roboto', sans-serif;">
						@bichotersfood | Contato: bichotersfood@gmail.com </span>
				</div>
			</div>
		</div>
	</footer>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
